* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --main: #162447;
  --niceblue: #1f4068;
  --magicblue: #0049cc;
  --blue: #002158;
  --darkblue: #002759;
  --white: #fff;
  --black: #000000;
  --lightblue: #3239c0;
  --specialblue: #34495e;
}

html {
  max-width: 100%;
}

body {
  background-color: var(--black);
  font-family: 'Courier New', Courier, monospace;
}

header {
  width: 100%;
  height: 65px;
  position: fixed;
  /* border-bottom: 1px solid var(--white); */
}

header nav ul {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: space-between;
}

header nav ul .li_header {
  padding: 25px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 17.5px;
}

header nav ul li a:hover {
  color: var(--black);
}

header .txt_logo {
  display: flex;
}

header .txt_logo p {
  font-size: 25px;
  padding: 20px;
}

header .txt_logo:hover {
  color: var(--white);
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px;
  background-color: var(--main);
}

footer .footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer .footer .icons {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin-top: 10px;
  /* border-bottom: 2px solid var(--lightblue); */
}

footer .icons #icon_end {
  border: none;
}

footer .icon {
  height: 60px;
  padding-right: 30px;
  padding-left: 30px;
  border-right: 2px solid var(--lightblue);
}

footer .icon img {
  width: 40px;
  padding: 5px;
}

.footer .footer_info {
  display: flex;
  justify-content: center;
  font-size: 22.5px;
  color: var(--white);
}

/*background animation*/
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--main) 50%, var(--magicblue) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.container_start {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #3239c0;
}

.container_start .title {
  width: 500px;
  height: 200px;
  font-size: 40px;
  text-align: center;
  color: var(--white);
}

/*project*/
.container_project {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--darkblue);
  border-bottom: 2px solid #3239c0;
}

.container_project .top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  margin-top: 50px;
}

.container_project .down {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}

.container_project .project {
  width: 300px;
  height: 250px;
  margin-top: 75px;
  color: var(--white);
  background-color: black;
  border-radius: 5px;
}

.container_project .project .title_pro {
  font-weight: bold;
  font-size: 22.5px;
  text-align: center;
  padding: 15px;
}

.container_project .project .language {
  font-size: 17.5px;
  margin-left: 15px;
}

.container_project .project .discription {
  font-size: 17.5px;
  margin-top: 15px;
  margin-left: 15px;
}

.container_project .project .all_links {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-right: 0px;
}

.container_project .project .all_links .but_view {
  display: flex;
  align-self: center;
  font-size: 20px;
  color: var(--white);
  padding: 8.5px;
  border: 2px solid var(--white);
  border-radius: 5px;
}

.container_project .project .all_links .but_view a {
  border: none;
}

.container_project .project .all_links .but_view:hover {
  background-color: var(--white);
  color: var(--black);
}

.container_project .project .all_links .but_view img {
  /* background: url('assets/afbeeldingen/robot-white.png'); */
  width: 30px;
  height: 20px;
  border: none;
  margin-right: 5px;
  padding: 2.5px;
}

.container_project .project .all_links .but_github {
  display: flex;
  align-self: center;
  font-size: 20px;
  color: var(--white);
  padding: 8.5px;
  border: 2px solid var(--white);
  border-radius: 5px;
}

.container_project .project .all_links .but_github img {
  /* background: url('assets/afbeeldingen/robot-white.png'); */
  width: 20px;
  height: 20px;
  border: none;
  margin-right: 5px;
  padding: 2.5px;
}

/* .container_project .project .all_links .but_github .img_robot:hover {
  background: url('assets/afbeeldingen/robot-black.png');
} */

.container_project .project a {
  padding: 10px 7px;
  text-decoration: none;
}

.container_project .project a:hover{
  background-color: var(--white);
  color: var(--black);
}

.container_project .project .but_github:hover{
  background-color: var(--white);
  color: var(--black);
}

/*about*/
.container_about {
  width: 100%;
  height: 100vh;
  background-color: var(--magicblue);
  border-bottom: 2px solid var(--ligtblue);
}

.container_about .title {
  width: 100%;
  height: 75px;
  padding-top: 75px;
  font-size: 50px;
  text-align: center;
  color: var(--white);
}

.container_about .info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
}

.container_about .image img {
  width: 450px;
  height: 450px;
  margin-left: 350px;
  border: 3px solid var(--lightblue);
  border-radius: 5px;
}

.container_about .info .txt {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 700px;
  height: 200px;
  color: var(--white);
  margin-left: 100px;
  font-size: larger;
}

.container_about .info .title_about {
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container_contact {
  width: 100%;
  height: 98vh;
  background-color: var(--darkblue);
  border-bottom: 2px solid #3239c0;
}

.container_contact .title {
  width: 100%;
  height: 75px;
  padding-top: 75px;
  font-size: 50px;
  text-align: center;
  color: var(--white);
}

.container_contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
}

.container_contact form #label__fullname {
	height: 30px;
	font-size: 20px;
	margin-left: -1030px;
	margin-bottom: 10px;
  color: var(--white);
}

.container_contact form #input__fullname::placeholder {
  color: var(--white);
}

.container_contact form #input__fullname {
	width: 60%;
	padding: 15px;
	background-color: var(--specialblue);
	border-style: none;
	color: var(--black);
	margin-bottom: 15px;
}

.container_contact form #label__email {
	height: 30px;
	font-size: 20px;
	margin-left: -1075px;
	margin-bottom: 15px;
  color: var(--white);
}

.container_contact form #input__email::placeholder {
  color: var(--white);
}

.container_contact form #input__email {
	width: 60%;
	padding: 15px;
	background-color: var(--specialblue);
	border-style: none;
	color: #fff;
	margin-bottom: 20px;
}

.container_contact form #label__discription {
	height: 30px;
	font-size: 20px;
	margin-left: -975px;
	margin-bottom: 15px;
  color: var(--white);
}

.container_contact form #input__discription::placeholder {
  color: var(--white);
}

.container_contact form #input__discription {
	width: 60%;
	padding: 15px;
	background-color: var(--specialblue);
	border-style: none;
	color: var(--white);
	margin-bottom: 15px;
	resize: none;
}

.container_contact form #click__submit {
	width: 5%;
	background-color: var(--specialblue);
	border-style: none;
	color: #fff;
	padding: 15px;
	margin-right: 56.5%;
	border-radius: 5px;
}

/*responsive*/
@media screen and (max-width: 414px) {
  header nav ul .li_header {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    background-color: var(--main);
  }

  footer .footer .icons {
    width: 390px;
  }
  
  footer .icon {
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
  }

  footer .icon img {
    width: 35px;
    padding: 10px;
  }
  
  .container_start .title {
    font-size: 35px;
  }

  .container_project {
    height: 220vh;
  }

  .container_project .top {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .container_project .down {
    flex-direction: column;
    align-items: center;
  }

  .container_project .project {
    margin-top: 0px;
  }

  .container_about {
    height: 110vh;
  }

  .container_about .title {
    padding-top: 50px;
    font-size: 45px;
  }

  .container_about .info {
    flex-direction: column;
  }

  .container_about .image img {
    width: 325px;
    height: 325px;
    margin-top: 30px;
    margin-left: 0px;
  }

  .container_about .info .txt {
    width: 300px;
    height: 200px;
    margin-left: 0px;
  }

  .container_about .info .title_about {
    font-size: 30px;
    padding-top: 30px;
  }

  .container_contact {
    height: 100vh;
  }

  .container_contact .title {
    padding-top: 50px;
    font-size: 45px;
  }

  .container_contact form {
    margin-top: 30px;
  }

  .container_contact form #label__fullname {
    margin-left: -140px;
  }

  .container_contact form #label__email {
    margin-left: -185px;
  }

  .container_contact form #label__discription {
    margin-left: -80px;
  }

  .container_contact form #click__submit {
    width: 50%;
    height: 50px;
    margin-right: 0%;
  }
}